body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

html {
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
  background: #00000020;
}
::-webkit-scrollbar-thumb {
  width: 0px;
  background: #00000080;
}

#root {
  height: 100%;
  width: 100%;
}
