* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  color: #595959;
  background-image: url('../assets/images/bg/bg-02.png');
  background-size: cover;
}
