* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-y: scroll;
  overflow-x: hidden;
  color: #595959;
  background-image: url('../assets/images/bg/bg-02.png');
  background-size: cover;
}

#root {
  height: 100vh;
  width: 100vw;
}

.open {
  z-index: 10000;
}

.d-none {
  display: none;
}

.form {
  position: relative;
  padding: 24px 16px;
  background: #FFFFFF;  
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 100%;
  margin-bottom: 24px;
  box-sizing: border-box;
}

.label {
  display: block;
  text-align: left;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 4px;
}


.form .icon.right {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.blue {
  color: #1045BA;
}

.clickable {
  cursor: pointer;
}

.clickable:active, .clickable.selected {
  opacity: 0.5;
  transition-duration: 0.1s;
}

.clickable:active {
  transform: translateY(2px);
}

.mr-2 {
  margin-right: 48px !important;
}


h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
}
h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 24px;
}

h4 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 16px;
}

p {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
}


input {
  background: #EDEDED;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 12px;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  box-sizing: border-box;
}

.form input {
  margin-bottom: 24px;
}

input::placeholder {
  color: #59595940;
}

input.error {
  border: red 1px solid;
}
.errortext {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 0px;
  color: #FF0000;
  transform: translateY(-12px);
}

.stack {
  margin: 0;
}

.a-l {
  text-align: left;
}
